

nav{

	background-color:rgba(255,255,255,0);
	z-index: 999;

}

#home,#contact,#services,#about
{
	color:white;
}

body{
	
	background-image:url('../../images/site_bg.png');
	background-repeat: no-repeat;
	background-size:cover;
	overflow-x: hidden;
}

.p1{
background-image: url('../../images/p1.png');
background-size:100vw 100vh;
background-repeat: no-repeat;
;
}



#logo_text{color:white;}
.pos_fix{
	border: 1px solid red;
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
	width:90%;
}


.highlight{
	border-bottom: 1px solid #EF5D60;
	
}


.ios{
	width:200px;
	height:56px;
	background-image:url('../../images/ios.png');
	background-size: contain;
	background-repeat: no-repeat;
}
.android{
	width:200px;
	height:58px;
	background-image:url('../../images/android.png');
	background-size: contain;
	background-repeat: no-repeat;
}


