
.highlight{
    border-bottom: 1px solid #EF5D60;
    font-weight:300;
    color:black;
}


.p1::before{
    content:'';
    position:absolute; 
    width:100%;
    height:30vh;
    top:70vh;
    background-color:rgb(243, 242, 242);
}


.km{
    position:absolute;
    height:5vh;
    top:67.5vh;
    left:10%;
    font-size:2vh;
}

.p2{
    background: url('../../images/back2.png');
    background-size:100% 100%;
    background-repeat: no-repeat;

}



.hotel{
    height:60vh;margin-top:13.5vh;margin-left:25px;
}

.main_c{
    width:70%;margin-left:20%;
}

.iph{
    height:72vh;margin-top:-8vh;
}

.iph_box{
    width:70%;margin-left:30%;
}

.about_box{
    margin-top:5vh;
}
.aboutus{
    font-size:4.7vh;font-family: 'Raleway', sans-serif;font-weight:bold;color:rgb(83, 81, 81)
}
.about_cnt{
    width:80%;font-size:3vh;color:rgb(185, 183, 183);
}

.sts_txt{
    position:absolute;
    height:302.5px;
    margin-top:62px;
    margin-left:141px;
}

.canvas{
    
    position:absolute;
    height:302.5px;
    width:320px;

    margin-left:401px;
    margin-top:74px;
}

.g_f{
    display:inline-block;
    margin-top:5vh;
    border-radius: 2%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    height:50vh;
    width: 20vw;
    margin-left:1%;
    margin-right:1%;
    white-space: normal;background:white;
}


.fi{
    position:absolute;
    width:100%;
    height:60%;
    margin-top:0%;
}

.fh{
    padding-top:2vh;
    width:100%;
    height:10%;
    margin-top:85%;
    position:absolute;
    color:rgb(63, 60, 60);
    font-family: 'Raleway', sans-serif;font-size:2.5vh;
}

.fd{
    padding-top:2vh;
    width:80%;
    margin-left:10%;
    height:30%;
    margin-top:100%;
    position:absolute;
    font-family: 'Raleway', sans-serif;
    font-size:2vh;
    color:rgb(155, 151, 151);
}

#feature_scroll{
    cursor: pointer;
}

.feature_text{
    font-size:2.2vh;
    font-family: 'Raleway', sans-serif;
    color:rgb(177, 173, 173);
    font-weight:bold;
    padding-top:1vh;
}

.hidei{
    display: none;
}

.sts{
	width:0vw;
	padding:5vh;
	height:0vh;
	margin-top:8%;
}

.pink_stat{
    margin-left:auto;margin-right:auto;
    vertical-align:middle;
    font-size:2vh;
    width:70%;
    font-family: 'Raleway', sans-serif;
    color:rgb(177, 173, 173);
}

@media only screen and (max-width: 769px) {


.g_f{
    display:inline-block;
    margin-top:5vh;
    border-radius: 2%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    height:50vh;
    width: 60vw;
    margin-left:1%;
    margin-right:1%;
    white-space: normal;background:white;
}
.fh{
    padding-top:2vh;
    width:100%;
    height:10%;
    margin-top:75%;
    position:absolute;
    color:rgb(63, 60, 60);
    font-family: 'Raleway', sans-serif;font-size:2.5vh;
}
.fd{
    padding-top:2vh;
    width:80%;
    margin-left:10%;
    height:30%;
    margin-top:95%;
    position:absolute;
    font-family: 'Raleway', sans-serif;
    font-size:2vh;
    color:rgb(155, 151, 151);
}
.pink_stat{
    margin-left:auto;margin-right:auto;
    vertical-align:middle;
    font-size:2vh;
    width:90%;
    font-family: 'Raleway', sans-serif;
    color:rgb(177, 173, 173);
}

.hidei{
    display: initial;
}
.sts{
    width:90vw;margin-left:auto;margin-right:auto;margin-top:-10%;
}

.about_box{
    margin-top:2vh;
    margin-left:3vw;
}

.aboutus{
    font-size:4vh;font-family: 'Raleway', sans-serif;font-weight:bold;color:rgb(83, 81, 81);
}

.about_cnt{
    width:100%;font-size:2.7vh;color:rgb(185, 183, 183);
}

.iph_box{
    margin-left:0%;
   
}



.iph{
    height:32vh;margin-top:0vh;
    margin-left:-30vmin;
}


.main_c{
    width:70%;margin-left:10%;
}

.hotel{
    height:25vh;margin-top:-10vh;margin-left:45vw;
}
    
.hide{
    display: none;
}




}